<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>
<form action="/change-password" method="post">
  <label>Email:</label>
  <input type="text" name="email" />
  <label>Old Password:</label>
  <input type="password" name="oldPassword" />
  <label>New Password:</label>
  <input type="password" name="newPassword" />
  <button type="submit">Change Password</button>
</form>
<p th:text="${error}"></p>
</body>
</html>
